<h2>Word Name: <%= @word.name %></h2>

<h3>Word Meanings</h3>
  <% if @word.meanings %>
    <ol>
      <% @word.meanings.each do |meaning| %>
        <li>
          <ul>
            <li><a href="/words/<%= @word.id %>/meanings/<%= meaning.id %>"><%= meaning.name %></a></li>
            <li>From <%= meaning.poster_name %></li>
          </ul>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p>There are no meanings listed for this word yet.</p>
  <% end %>

<h4>Do you know what this word means?:</h4>

<form action="/words/<%= @word.id %>/meanings" method="post">
  <div class="form-group">
    <label for="poster_name">What is your name?</label>
    <input id="poster_name" name="poster_name" class="form-control" type="text">
    <label for="meaning">What does the word mean?</label>
    <input id="meaning" name="meaning" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add meaning</button>
</form>

<form action="/words/<%= @word.id() %>/edit" method="get">
  <input name="_method" type="hidden" value="edit">
  <button type="submit">Edit Word</button>
</form>

<p><a href="/words">Return to word list</a></p>
